@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage">
    <div class="main">
        <div id="overlay"></div>
       

        <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010__340.jpg" class="bucket" />
</div>
</div>
</div>