@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage">
    <div class="main">
        <div id="overlay"></div>
        <h1 class="tagline">
            Book Store<br /> <a id="join-now" asp-area="" asp-controller="Books" asp-action="Index">CHECK OUT</a>
        </h1>

        <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010__340.jpg" class="bucket" />
</div>
</div>
</div>